redis:
  connection:
    host: localhost
    port: 6379
    db: 0
    password:
  settings:
    maxmemory:
      min: 128
      max: 6144
      step: 128
    maxmemory-policy:
      values:
        - allkeys-lru
        - allkeys-lfu
        - allkeys-random
