# Structure of this configuration file reflects one you can find in config.yaml. Both of the files will be merged at the driver execution time.
# Settings (primitive values) in this file take precendence over config.yaml ones.
# It meant to be used for configuration of sensitive things, like password to Redis node.
# You can use environment variable OPTUNE_SECRET to choose a different yaml file. By default it points at ./secret.yaml.
# It is best to use it with features like `docker secret`.
redis:
    host: localhost
    port: 6379
    db: 0
    password: thepassword